{{define "main" }}
	<section class="hero is-default is-bold">
		{{ partial "navbar.html" . }}
		{{ partial "navbar-clone.html" . }}
	</section>

	<section class="section section-feature-gray">
		<div class="container">
			<div class="title-wrapper has-text-centered">
				<h2 class="title is-2">Startseite</h2>
				<div class="divider is-centered"></div>
			</div>

			<div class="content-wrapper">
				<img src="{{ "/images/pictures/main-page.png" | relURL }}" />
			</div>
		</div>
	</section>

	<section class="section section-feature-gray">
			<div class="container">
				<div class="title-wrapper has-text-centered">
					<h2 class="title is-2">Alle heruntergeladenen Videos</h2>
					<div class="divider is-centered"></div>
				</div>
	
				<div class="content-wrapper">
					<img src="{{ "/images/pictures/already-downloaded-page.png" | relURL }}" />
				</div>
			</div>
		</section>

	{{ partial "footer.html" . }}
{{ end }}