{{define "main" }}
	<section class="hero is-default is-bold">
		{{ partial "navbar.html" . }}
		{{ partial "navbar-clone.html" . }}
	</section>

	<section class="section section-feature-gray">
		<div class="container {{ .Params.class }}">
			{{ with .Title }}
			<div class="title-wrapper has-text-centered">
				<h2 class="title is-2">{{ . }}</h2>
				<div class="divider is-centered"></div>
			</div>
			{{ end }}

			<div class="content-wrapper">
				{{ .Content }}
			</div>
		</div>
	</section>

	{{ partial "footer.html" . }}
{{ end }}